* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {}

.container {
    width: calc(100% - 20%);
    margin: 0 auto;
    background-color: aqua;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.list1 {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    list-style-type: none;


}

.listicon {
    display: none;

}



.list2 {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style-type: none;

}

@media screen and (min-width: 0) and (max-width:810px) {
    .list1 {
        display: none;
    }

    .list2 {
        display: none;
    }

    .listicon {
        display: flex;
    }
}

.card {
    width: calc((100% - 90px) / 4);

}

.e-commerce-card {


    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;


}

img {
    width: 100%;
}

p {
    margin-top: 17px;
}

@media screen and (min-width: 0) and (max-width:300px) {
    .row {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }
}

@media screen and (min-width: 550px) and (max-width:700px) {
    .card {
        width: calc((100% - 60px) / 3);
    }
}

@media screen and (min-width: 300px) and (max-width:500px) {
    .card {
        width: calc((100% - 30px) / 2);
    }
}