* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;

    gap: 232.5px;


}

.list1 {
    display: flex;
    gap: 60px;
    list-style-type: none;


}

.list2 {
    display: flex;
    gap: 24px;
    list-style-type: none;

}

.logo {
    padding-top: 21.84px;
    padding-bottom: 21.84px;
}

.menue {
    padding-top: 36px;
}

.headerRight {

    padding-top: 31px;

}

.card {
    width: calc((100% - 90px) / 4);
}

.e-commerce-card {
    background-color: brown;

    text-align: center;
    display: flex;

    gap: 30px;
    padding-top: 80px;
    padding-bottom: 50px;


}

image {
    width: 100%;
}

p {
    margin-top: 17px;
}